//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2015-2016 Alexander Williams, Unscramble <license@unscramble.jp>

// #dashboard container
#jido-page-dashboard.container-fluid.jido-page-content(style='display:none')
  .row
    .col-lg-10.col-md-10.col-sm-10.offset-md-1.offset-lg-1
      h1.page-header Dashboard
  .row
    .col-lg-5.col-md-5.col-sm-12.offset-lg-1.offset-md-1
      .card.jido-panel
        .card-header
          h3.card-title
            i.fa.icon-sitemap
            |  Network details
        ul.list-group.jido-data-network-info.card-body
          | ...fetching

    .col-lg-5.col-md-5.col-sm-12
      .card.jido-panel
        .card-header
          h3.card-title
            i.fa.icon-sliders
            |  Service status
        ul.list-group.jido-data-services-info.card-body
          | ...fetching

  .row
    .col-lg-10.col-md-10.col-sm-12.offset-lg-1.offset-md-1
      .card.jido-panel
        .card-header
          h3.card-title
            i.fa.icon-doc-text
            |  Change log
        .card-body
          pre.jido-info.jido-data-changelog ...fetching
  .row
    .col-lg-4.col-md-4.col-sm-12.offset-lg-1.offset-md-2
      .card.jido-panel-license(style='display:none;')
        .card-header
          h3.card-title
            i.fa.icon-certificate
            |  License
        .card-body
          ul.list-group.jido-data-license-info
            | ...fetching

// /#dashboard container
